body{
    background-color: #01458a;
}
h1{
    color: midnightblue;
    background-color: #054bc6;
    text-align: center;
    font-family: Georgia;
}

/* :hover é quando o mouse passa por cima */
h1:hover{
    color: lightsteelblue;
}

a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold; /*  Negrito  */
    color: #ebf5ff;
    text-shadow: black 1px 1px;
}

.atividade {
    color: #054bc6;
    background-color: #01458a;
    text-align: left;
    font-family: Georgia;
}
.atividade:hover {
    color: lightsteelblue;
}