body{
    background-color: whitesmoke;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 200px;
    height: 200px;
    background: #faefed;
    padding: 10px;
    /* Arredonda os cantos */
    border-radius: 10px;
    border: 3px dashed #ffd4d1;
    /* Eixo vertical | Eixo horizontal  */
    margin: 10px 0;
}

.container{
    width: 100%;
    height: auto;
    border: none;
    background: #006078;
    border-radius: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
}

.menu{
    color: whitesmoke;
    text-align: center;
    width: 67px;
    height: 67px;
    background: #82bac4 ;
}