* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pai {
    width: 100%;
    height: 100vh;
    background: #fdac98;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filho {
    width: 100px;
    height: 100px;
    background: #ffc5a6;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}